header, main, footer {
  padding-left: 300px;
}
@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}

h1{
    font-weight: 300;
    color: #4527a0; 
    margin-top: 0;
}
.top-nav{
    height: 100px;
    background-color:#673ab7;
}
#about{
    background: url("../images/mountains.jpg");
    font-size: 130%;
    color:white;
    padding-top:150px;
    font-size: 150%;
    height: 900px;
}
#text-shadow{
    text-shadow: 5px 5px 5px black;
}
#applications{
    padding-top:150px;
    padding-bottom:50px;
    height:900px;
}
#contact{
    padding-top: 400px;
    height:900px;
}